// vars
$toast-container-position: fixed;
$toast-container-top: 16px;
$toast-container-right: 16px;
$toast-container-max-width: 300px;
$toast-container-z-index: 9999;
$toast-container-font: "Arial";

$toast-border-radius: 5px;
$toast-padding: 16px;
$toast-margin-bottom: 8px;
$toast-color: #fff;
$toast-font-weight-bold: bold;
$toast-font-weight-normal: normal;
$toast-cursor: pointer;
$toast-opacity: 0;
$toast-transition: opacity 0.3s ease-in-out;

$success-background-color: #4CAF50;
$error-background-color: #f44336;
$warning-background-color: #cbcf11;
$info-background-color: #36a5f4;
$toast-default: rgb(0, 106, 255);

$positions: (
  'top-left',
  'top-center',
  'top-right',
  'bottom-left',
  'bottom-center',
  'bottom-right'
);

#toast-container {
  position: $toast-container-position;
  top: $toast-container-top;
  right: $toast-container-right;
  max-width: $toast-container-max-width;
  font-family: $toast-container-font;
  z-index: $toast-container-z-index;
}

.toast {
  position: inherit;
  border-radius: $toast-border-radius;
  padding: $toast-padding;
  margin-bottom: $toast-margin-bottom;
  color: $toast-color;
  font-weight: $toast-font-weight-bold;
  cursor: $toast-cursor;
  opacity: $toast-opacity;
  transition: $toast-transition;

  background-color: $toast-default;

  &.fade {
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
  }

  &.slide-up {
    opacity: 0;
    transform: translateY(100%);
    transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;

    &.active {
      transform: translateY(0);
    }
  }


  // &.scale {
  //   opacity: 0;
  //   transform: scale(0);
  //   transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;

  //   &.active {
  //     opacity: 1;
  //     transform: scale(1);
  //   }
  // }

  // &.rotate {
  //   opacity: 0;
  //   transform: rotate(360deg);
  //   transition: opacity 0.3s ease-in-out, transform 0.5s ease-in-out;

  //   &.active {
  //     opacity: 1;
  //     transform: rotate(0deg);
  //   }
  // }


  .toast-header,
  .toast-content {
    font-size: 1em;
    margin: 0;
    padding: 0;
  }

  .toast-content {
    font-weight: $toast-font-weight-normal;
    padding-top: 5px;
  }

  &.success {
    background-color: $success-background-color;
  }

  &.error {
    background-color: $error-background-color;
  }

  &.warning {
    background-color: $warning-background-color;
  }

  &.info {
    background-color: $info-background-color;
  }

  .icon {
    // icon if needed
  }

  .close-button {
    position: absolute;
    top: 5px;
    right: 5px;
    cursor: pointer;
  }

  // loop and generate classes
  @each $position in $positions {
    &.#{$position} {
      @if str-index($position, 'top') {
        top: $toast-container-top;
      }

      @else {
        bottom: $toast-container-top;
      }

      @if str-index($position, 'left') {
        left: $toast-container-right;
      }

      @else if str-index($position, 'right') {
        right: $toast-container-right;
      }

      @else {
        left: 50%;
        transform: translateX(-50%);
      }
    }
  }
}